
.register-header {
    text-align:center;
    margin-bottom: bottom 30px;
}

.register-header h1{
    margin-top: 20px;
    padding: 0 0 20px;
    font-size: 36px;
}

.valid-email
{
    margin-left: 20px;
    color: #2fcf9a;
    font-size: 20px;
    align-self: center;
    align-items: center;
    text-align: center;
    margin-top: 2px;
    text-decoration: none;

}

.invalid-email
{
    margin-left: 40px;
    color: red;
    font-size: 13px;
    text-decoration: underline;
}

.normal-email
{
    margin-left: 20px;
    color: black;
    font-size: 20px;
    align-self: center;
    align-items: center;
    text-align: center;
    margin-top: 2px;
    text-decoration: underline;
}

  
.register-box {
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-top: 30px; 
    background-color: #ffffff;
}

.register-box h2{
    font-size: 24px;
    font-weight: bold;
}

.register-box h6{
    font-size: 17px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.submitbutton{
    margin-top:40px;
    text-align:center;
    color:#2fcf9a
}